body {
	color:#0d0015;
	background-color:#f3f3f2;
}

section.contents {
	background-color:#f8fbf8;
	border-top:1px solid #3b7960;
	border-left:1px solid #007b43;
	border-right:1px solid #00552e;
	border-bottom:1px solid #005243;
}

section.banner {
	background-color:#f8fbf8;
	border-top:1px solid #3b7960;
	border-left:3px double #007b43;
	border-right:3px double #00552e;
	border-bottom:1px solid #005243;
}

.header_title {
	color:#0d0015;
	background-color:#f8fbf8;
	border-left:14px solid #007b43;
	border-top:2px solid #3b7960;
	border-bottom:4px solid #005243;
	border-right:1px solid #00552e;
}


menu.topmenu li a {
	color:#0d0015;
	background-color:#f8fbf8;
	border-left:3px double #007b43;
	border-top:3px double #3b7960;
	border-right:3px double #00552e;
	border-bottom:3px double #005243;
}

menu.topmenu li a:hover { 
	background-color:#d6e9ca;
	border-left:3px solid #007b43;
	border-top:3px solid #3b7960;
	border-right:3px solid #00552e;
	border-bottom:3px solid #005243;
}

h1 {
	color:#0d0015;
}

h2 {
	color:#19448e;
	border-left:9px solid #007b43;
	border-bottom:3px solid #005243;
}
h3 {
	color:#192f60;
	border-left:8px solid #007b43;
	border-bottom:2px solid #005243;
}

h4 {
	color:#17184b;
	border-bottom:1px solid #005243;
}

a.link_new { color:#17184b; }
a.link { color:#17184b; }
a.link:hover { color:#007bbb; }
a.link:visited { color:#000000; }

/*	折りたためる「注」	*/
div.collapsiblenote { border-left:0.3em double #404040; }
div.note_butt { border-bottom:1px solid #000000; }
div.note_butt:hover {  cursor:pointer; border-bottom:1px solid #007b43; }

menu.dropmenu menu.column1 {
   color:#0d0015;
   background-color:#f8fbf8;
   border-left:3px double #007b43;
   border-top:3px double #3b7960;
   border-right:3px double #00552e;
   border-bottom:3px double #005243;
}

menu.dropmenu menu.column1:hover {
  background-color:#d6e9ca;
  border-left:3px solid #007b43;
  border-top:3px solid #3b7960;
  border-right:3px solid #00552e;
  border-bottom:3px solid #005243;
}

 /* サブメニュー1段目 */
menu.dropmenu menu.column1 ul {
  background-color:#f8fbf8;
  border:1px solid #000000;
  border-left:4px solid #007b43;
  border-bottom:2px solid #005243;
}
menu.dropmenu menu.column1 ul li {
  border-bottom:1px solid #005243;
}
menu.dropmenu menu.column1 ul li:hover {
  background-color:#d6e9ca;
}

menu.dropmenu menu.column1 a {
  color:#17184b;
}

/*「注」 */
div.note, div.renew { border-left:0.3em double #404040; }
div.dialynote { border-left:0.3em double #757575; }

div.note span.notehead, div.dialynote span.notehead {
	border-bottom:3px double #000000;
}

footer, div.footer { color:#0d0015; }

/* DIALY */
div.sayo  { border-left:3px double #aa3366; }
div.kuko  { border-left:2px solid #669933; }
div.sei  { border-left:2px dotted #0066CC; }
div.aya  { border-left:3px double #000000;  }

img { border:1px solid #000000; padding:1px; }
table { border:1px solid #202020; }
table th { border:1px solid #6a6a6a; }
table td { border:1px solid #898989; }
